:root {
  --primary-color: #752512;
  --secondary-color: #A73A21;
  --tertiary-color: #C65338;
  --quaternary-color: #FEAA80;
  --quinary-color: #FDBC9B;
  --senary-color: #FFEBE1;
  --septenary-color-vibrant: #ee5e3a;
}

/* Contêiner principal para organizar filtros e cards */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 10%;
}

.shop-titulo{
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 40px;
}
/* Estilos para os cards */
.cards-container {
  margin-left: 10px; 
  padding: 20px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  align-content: flex-start; 
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  min-height: 480px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card.out-of-stock {
  opacity: 0.5;
  position: relative; 
}

.out-of-stock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 217, 217, 0.507); 
  color: rgb(86, 0, 0);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.634);;
  border: solid 1px rgb(240, 159, 159);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  z-index: 1; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card img {
  width: 100%;
  height: 280px;
  border-radius: 8px;
  object-fit: cover;
}


.card-nome {
  font-size: 18px;
  margin: 8px 0;
  text-align: center;
}

.card-preco {
  font-size: 16px;
  color: #888;
  margin: 0;
}

.nenhum-produto{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 20px;
}

.nenhum-produto img{
  width: 350px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column; 
  }

  .filtros-container {
    width: 100%; 
    position: relative; 
    height: auto; 
    padding: 15px;
  }

  .cards-container {
    margin-left: 0; 
    padding: 15px;
  }
}