.consulta-livros {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;

}

.consulta-livros h1 {
  font-size: 2rem !important;
  font-weight: bold !important;
  color: var(--primary-color) !important;
  margin-bottom: 20px !important;
  text-align: center;
}

.abas-filtro {
  display: flex;
  gap: 10px; 
  justify-content: center;
}

.abas-filtro button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffddcc;
  color: var(--primary-color);
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 170px;
}

.abas-filtro button.ativo {
  background-color: var(--secondary-color);
  color: white;
}

.abas-filtro button:hover {
  background-color: var(--quaternary-color);
}

.campo-pesquisa {
  display: flex;
  justify-content: center;  
  margin-bottom: 40px;
}

.campo-pesquisa input {
  width: 30%; 
  padding: 10px;
  border: 1px solid var(--senary-color);
  border-radius: 18px;
  font-size: 16px;
  outline: none;
  color: var(--primary-color);
}

.campo-pesquisa input::placeholder {
  color: #555;
}

.livros-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  position: relative;
}

.abas-e-botao-container {
  display: flex;
  justify-content: center;  
  margin-bottom: 30px;  
  gap: 5px;  
  max-width: 650px; 
  margin: 0 auto;   
}

.botao-criar {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 50px;  
  height: 35px;
  padding: 0;
  background-color: #ffddcc; 
  color: var(--primary-color);  
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.botao-criar:hover {
  background-color: var(--quaternary-color);  
}
