.transacoes-cliente-scope h1 {
  font-size: 24px;
  color: #752512;
  margin-bottom: 20px;
  text-align: center;
}

.transacoes-cliente-scope .transacoes-colaborador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos da tabela */
.transacoes-cliente-scope .tabela-container {
  display: flex;
  justify-content: center; /* Corrigido de justify-items para justify-content */
  width: 100%; /* Adicionado max-width */
  margin: 0 auto;
  padding: 0 20px; /* Adicionado padding para evitar que encoste nas bordas */
}

.transacoes-cliente-scope .tabela-transacoes {
  width: 100%; /* Alterado para 100% */
  border-collapse: collapse;
  background-color: #fff2eb;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mantenha o restante do CSS da tabela igual */
.transacoes-cliente-scope .tabela-transacoes th,
.transacoes-cliente-scope .tabela-transacoes td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #ffceb6;
}

.transacoes-cliente-scope .tabela-transacoes th {
  background-color: #ffceb6;
  color: #752512;
  font-weight: bold;
}

.transacoes-cliente-scope .tabela-transacoes tbody tr:hover {
  background-color: #ffddcc;
}

.transacoes-cliente-scope .tabela-transacoes tbody tr:last-child td {
  border-bottom: none;
}

/* Estilos do botão de detalhes */
.transacoes-cliente-scope .detalhes-botao {
  background-color: #752512;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transacoes-cliente-scope .detalhes-botao:hover {
  background-color: #a73a21;
}

.transacoes-cliente-scope .campo-pesquisa{
}