@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

:root{
  --primary-color: #752512;
  --secondary-color: #A73A21;
  --tertiary-color: #C65338;
  --quaternary-color: #FEAA80;
  --quinary-color: #FDBC9B;
  --senary-color: #FFCEB6;
  --septenary-color-vibrant: #ee5e3a;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}


.header {
  background-color: #ffffff;
  padding: 20px 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.breadcrumb {
  font-size: 12px;
  color: #666;
  margin: 10px 20px 20px 15%;
}

.breadcrumb a {
  color: #a73a21;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span:last-child {
  color: #333; 
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

.header h1 a {
  text-decoration: none;
  color: inherit;
}

.nav ul {
  
  padding-right: 20px;
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 30px; 
}

.nav ul li {
   padding: 7px 0;
  font-size: 16px;
  color:var(--primary-color);
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: var(--septenary-color-vibrant); 
}

#buttom-login{
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#buttom-login a {
  color: #fff !important;
  text-decoration: none; 
  text-align:center;
}

#buttom-login:hover{
  background-color: var(--tertiary-color);
  color: #ffff !important;
}

.botao-opcoes {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icone-perfil,
.icone-sacola {
  width: 30px; 
  height: 30px;
  cursor: pointer;
}

.botao-sair {
  background: none;
  border: none;
  color: #000; 
  cursor: pointer;
  font-size: 16px;
}

.botao-sair:hover {
  text-decoration: underline;
}

.nav-button {
  background: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  padding: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 10px;
}

.card-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
}